.schedule {
    margin-bottom: 30px;
}

.schedule td.event, .schedule th {
    padding: 3px;
    height: 20px;
    background: #f0f0f0;
    vertical-align: top;
}

.schedule th.time {
    text-align: left;
    vertical-align: top;
}

.schedule th.room {
    min-width: 70px;
}

.schedulelist tr.alternate td {
    background: #f0f0f0;
}

.schedulelist td {
    vertical-align: top;
}

.schedulelist p {
    margin-top: 0px;
}

.pager div {
    font-size: 1.3em;
    float: left;
    margin-right: 20px;
    padding: 10px 0;
}

.clear {
    clear: both;
}

.lightning ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.event.self-organized-sessions {
    background-color: #b2ecbd;
    border-color: #47ecab;
}

div.event.track-self-organized-sessions div.event-header {
     background: #3c844c;
     color: white;
}
