{% extends "base.html" %}

{% block content %}

<div id="main" class="row">
  <div class="col12">
  {% include 'navbar.html' %}
  </div>
  <div id="content" class="col8 hentry">

    <h1>{{ event.title }}</h1>

    <p>
      By {%- for speaker in event.speakers %}
      <a href="../speaker/{{ speaker.id }}.html">{{ speaker.name }}</a>{% if not loop.last %}, {% endif %}
      {%- endfor %}
    </p>

    {{ event.abstract|nl2br }}

    {{ event.description|nl2br }}

    {% if event.links %}
    <h4>Links</h4>
    <ul>
    {% for link in event.links %}
    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
    {%- if concurrent_events|length > 0 -%}
    <h4>Concurrent events</h4>
    <ul>
        {%- for event in concurrent_events -%}
        <li> <a href="{{ event.id }}.html">{{ event.title }}</a>
            in {{ event.room }} at {{ event.start.strftime("%H:%M") }}
            {%- endfor %}
    </ul>
    {%- endif -%}
  </div>
  <div class="col4">
    <h6>Day</h6>
    {{ event.day }}
    <h6>Start time</h6>
    {{ event.start|format_time }}
    <h6>Duration</h6>
    {{ event.duration|format_time }}
    <h6>Location</h6>
    {{ event.room }}
    <h6>Type</h6>
    {{ event.type|capitalize }}
    {% if event.track %}
    <h6>Track</h6>
    {{ event.track }}
    {% endif %}
  </div>
</div>

{% endblock %}
