<div id="navigation">
<ul>
  {% for n in range(1, 5) %}
  <li {% if day and day.number == n %}class="selected"{% endif %}><a href="/day_{{ n }}.html">Day {{ n }}</a></li>
  {% endfor %}
  <li {% if event_list %}class="current"{% endif %}> <a href="/events.html">Events</a></li>
  <li {% if speaker_list %}class="current"{% endif %}><a href="/speakers.html">Speakers</a></li>
  <li {% if track_list %}class="current"{% endif %}><a href="/tracks.html">Tracks</a></li>
  <li {% if icalxcaljson  %}class="current"{% endif %}><a href="/icalxcaljson.html">iCal/xCal/JSON/XML</a></li>
</ul>
</div>
