{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
    $('.schedulelist tr:nth-child(even)').addClass('alternate');
    })
</script>
{% endblock %}

{% block content %}

<div id="main" class="row">
  <div id="content" class="col12">

    {% include 'navbar.html' %}

    <h1>Tracks</h1>
     <div class="pager">
        {% for track in track_list %}
        <div><a href="#{{ track.name.replace(' ', '%20') }}">{{ track.name }}</a></div>
        {% endfor %}
    </div>
    <br class="clear"/>

    {% for track in track_list  %}
    <a id="{{ track.name.replace(' ', '%20') }}"></a>
    <h3>{{ track.name }}</h3>
    <table class="schedulelist">
      {% for event in track.events %}
      <tr>
	<td><a href="event/{{ event.id }}.html">{{ event.title }}</a></td>
	<td>
	  {%- for speaker in event.speakers %}
	  <p><a href="speaker/{{ speaker.id }}.html">{{ speaker.name }}</a></p>
	  {%- endfor %}
	</td>
	<td>
	  {{ event.abstract|nl2br }}
	</td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}

  </div>
</div>
{% endblock %}
